<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:extractNativeLibs="true" android:label="Parvaz native probe"
        android:networkSecurityConfig="@xml/native_test_trust">
        <service android:name="com.parvaz.probe.NativeOwnerService"
            android:exported="false" android:process=":native_owner"/>
    </application>
</manifest>
